@media (max-width:767px) {
  .section__block {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .section__block-label__first {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section__size {
    display: flex;
    flex-direction: column;
  }
  .section__block-label {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

